# Airbnb predicting listing prices for Amsterdam, North Holland, The Netherlands

# Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

### Load

In [2]:
path='C:/Zcommon/trainee/project_1/airbnb_/amsterdam_listings.csv'
df=pd.read_csv(path,compression='gzip')
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,27886,https://www.airbnb.com/rooms/27886,20250911031321,2025-09-11,city scrape,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,...,4.93,4.90,4.78,0363 974D 4986 7411 88D8,f,1,0,1,0,1.87
1,28871,https://www.airbnb.com/rooms/28871,20250911031321,2025-09-11,city scrape,Comfortable double room,Basic bedroom in the center of Amsterdam.,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,...,4.94,4.93,4.83,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,3.99
2,29051,https://www.airbnb.com/rooms/29051,20250911031321,2025-09-11,city scrape,Comfortable single / double room,This room can also be rented as a single or a ...,the street is quite lively especially on weeke...,https://a0.muscache.com/pictures/162009/bd6be2...,124245,...,4.92,4.87,4.79,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,4.81
3,44391,https://www.airbnb.com/rooms/44391,20250911031321,2025-09-11,previous scrape,Quiet 2-bedroom Amsterdam city centre apartment,Guests greatly appreciate the unique location ...,The appartment is located in the city centre. ...,https://a0.muscache.com/pictures/97741545/3900...,194779,...,4.90,4.68,4.50,0363 E76E F06A C1DD 172C,f,1,1,0,0,0.23
4,48373,https://www.airbnb.com/rooms/48373,20250911031321,2025-09-11,previous scrape,Cozy family home in Amsterdam South,Charming modern apartment in the quiet and gre...,Apartment is located between Amsterdamse Bos a...,https://a0.muscache.com/pictures/miso/Hosting-...,220434,...,5.00,4.60,5.00,0363 4A2B A6AD 0196 F684,f,1,1,0,0,0.19

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            10480 non-null  int64
 1   listing_url                                   10480 non-null  object
 2   scrape_id                                     10480 non-null  int64
 3   last_scraped                                  10480 non-null  object
 4   source                                        10480 non-null  object
 5   name                                          10480 non-null  object
 6   description                                   10132 non-null  object
 7   neighborhood_overview                         5192 non-null   object
 8   picture_url                                   10480 non-null  object
 9   host_id                                       10480 non-null  int64
 10  host_url                                      10480 non-null  object
 11  host_name                                     10477 non-null  object
 12  host_since                                    10477 non-null  object
 13  host_location                                 9248 non-null   object
 14  host_about                                    5510 non-null   object
 15  host_response_time                            6683 non-null   object
 16  host_response_rate                            6683 non-null   object
 17  host_acceptance_rate                          8050 non-null   object
 18  host_is_superhost                             10365 non-null  object
 19  host_thumbnail_url                            10477 non-null  object
 20  host_picture_url                              10477 non-null  object
 21  host_neighbourhood                            2790 non-null   object
 22  host_listings_count                           10477 non-null  float64
 23  host_total_listings_count                     10477 non-null  float64
 24  host_verifications                            10477 non-null  object
 25  host_has_profile_pic                          10477 non-null  object
 26  host_identity_verified                        10477 non-null  object
 27  neighbourhood                                 5192 non-null   object
 28  neighbourhood_cleansed                        10480 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      10480 non-null  float64
 31  longitude                                     10480 non-null  float64
 32  property_type                                 10480 non-null  object
 33  room_type                                     10480 non-null  object
 34  accommodates                                  10480 non-null  int64
 35  bathrooms                                     5932 non-null   float64
 36  bathrooms_text                                10468 non-null  object
 37  bedrooms                                      10174 non-null  float64
 38  beds                                          5904 non-null   float64
 39  amenities                                     10480 non-null  object
 40  price                                         5874 non-null   object
 41  minimum_nights                                10480 non-null  int64
 42  maximum_nights                                10480 non-null  int64
 43  minimum_minimum_nights                        10476 non-null  float64
 44  maximum_minimum_nights                        10476 non-null  float64
 45  minimum_maximum_nights                        10476 non-null  float64
 46  maximum_maximum_nights                        10476 non-null  float64
 47  minimum_nights_avg_ntm                        10480 non-null  float64
 48  maximum_nights_avg_ntm                        10480 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              10137 non-null  object
 51  availability_30                               10480 non-null  int64
 52  availability_60                               10480 non-null  int64
 53  availability_90                               10480 non-null  int64
 54  availability_365                              10480 non-null  int64
 55  calendar_last_scraped                         10480 non-null  object
 56  number_of_reviews                             10480 non-null  int64
 57  number_of_reviews_ltm                         10480 non-null  int64
 58  number_of_reviews_l30d                        10480 non-null  int64
 59  availability_eoy                              10480 non-null  int64
 60  number_of_reviews_ly                          10480 non-null  int64
 61  estimated_occupancy_l365d                     10480 non-null  int64
 62  estimated_revenue_l365d                       5874 non-null   float64
 63  first_review                                  9383 non-null   object
 64  last_review                                   9383 non-null   object
 65  review_scores_rating                          9383 non-null   float64
 66  review_scores_accuracy                        9383 non-null   float64
 67  review_scores_cleanliness                     9382 non-null   float64
 68  review_scores_checkin                         9383 non-null   float64
 69  review_scores_communication                   9383 non-null   float64
 70  review_scores_location                        9383 non-null   float64
 71  review_scores_value                           9383 non-null   float64
 72  license                                       10361 non-null  object
 73  instant_bookable                              10480 non-null  object
 74  calculated_host_listings_count                10480 non-null  int64
 75  calculated_host_listings_count_entire_homes   10480 non-null  int64
 76  calculated_host_listings_count_private_rooms  10480 non-null  int64
 77  calculated_host_listings_count_shared_rooms   10480 non-null  int64
 78  reviews_per_month                             9383 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 6.3+ MB

## As our target feature is price we will drop any rows containing NaN values of it.

In [4]:
df=df.dropna(subset='price')
df['price']=df['price'].replace('[$£\,]','',regex=True).astype(float)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5874 entries, 0 to 10479
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5874 non-null   int64
 1   listing_url                                   5874 non-null   object
 2   scrape_id                                     5874 non-null   int64
 3   last_scraped                                  5874 non-null   object
 4   source                                        5874 non-null   object
 5   name                                          5874 non-null   object
 6   description                                   5657 non-null   object
 7   neighborhood_overview                         2755 non-null   object
 8   picture_url                                   5874 non-null   object
 9   host_id                                       5874 non-null   int64
 10  host_url                                      5874 non-null   object
 11  host_name                                     5872 non-null   object
 12  host_since                                    5872 non-null   object
 13  host_location                                 5185 non-null   object
 14  host_about                                    3122 non-null   object
 15  host_response_time                            5023 non-null   object
 16  host_response_rate                            5023 non-null   object
 17  host_acceptance_rate                          5481 non-null   object
 18  host_is_superhost                             5815 non-null   object
 19  host_thumbnail_url                            5872 non-null   object
 20  host_picture_url                              5872 non-null   object
 21  host_neighbourhood                            1443 non-null   object
 22  host_listings_count                           5872 non-null   float64
 23  host_total_listings_count                     5872 non-null   float64
 24  host_verifications                            5872 non-null   object
 25  host_has_profile_pic                          5872 non-null   object
 26  host_identity_verified                        5872 non-null   object
 27  neighbourhood                                 2755 non-null   object
 28  neighbourhood_cleansed                        5874 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      5874 non-null   float64
 31  longitude                                     5874 non-null   float64
 32  property_type                                 5874 non-null   object
 33  room_type                                     5874 non-null   object
 34  accommodates                                  5874 non-null   int64
 35  bathrooms                                     5874 non-null   float64
 36  bathrooms_text                                5868 non-null   object
 37  bedrooms                                      5865 non-null   float64
 38  beds                                          5871 non-null   float64
 39  amenities                                     5874 non-null   object
 40  price                                         5874 non-null   float64
 41  minimum_nights                                5874 non-null   int64
 42  maximum_nights                                5874 non-null   int64
 43  minimum_minimum_nights                        5870 non-null   float64
 44  maximum_minimum_nights                        5870 non-null   float64
 45  minimum_maximum_nights                        5870 non-null   float64
 46  maximum_maximum_nights                        5870 non-null   float64
 47  minimum_nights_avg_ntm                        5874 non-null   float64
 48  maximum_nights_avg_ntm                        5874 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5746 non-null   object
 51  availability_30                               5874 non-null   int64
 52  availability_60                               5874 non-null   int64
 53  availability_90                               5874 non-null   int64
 54  availability_365                              5874 non-null   int64
 55  calendar_last_scraped                         5874 non-null   object
 56  number_of_reviews                             5874 non-null   int64
 57  number_of_reviews_ltm                         5874 non-null   int64
 58  number_of_reviews_l30d                        5874 non-null   int64
 59  availability_eoy                              5874 non-null   int64
 60  number_of_reviews_ly                          5874 non-null   int64
 61  estimated_occupancy_l365d                     5874 non-null   int64
 62  estimated_revenue_l365d                       5874 non-null   float64
 63  first_review                                  5218 non-null   object
 64  last_review                                   5218 non-null   object
 65  review_scores_rating                          5218 non-null   float64
 66  review_scores_accuracy                        5218 non-null   float64
 67  review_scores_cleanliness                     5218 non-null   float64
 68  review_scores_checkin                         5218 non-null   float64
 69  review_scores_communication                   5218 non-null   float64
 70  review_scores_location                        5218 non-null   float64
 71  review_scores_value                           5218 non-null   float64
 72  license                                       5799 non-null   object
 73  instant_bookable                              5874 non-null   object
 74  calculated_host_listings_count                5874 non-null   int64
 75  calculated_host_listings_count_entire_homes   5874 non-null   int64
 76  calculated_host_listings_count_private_rooms  5874 non-null   int64
 77  calculated_host_listings_count_shared_rooms   5874 non-null   int64
 78  reviews_per_month                             5218 non-null   float64
dtypes: float64(25), int64(20), object(34)
memory usage: 3.6+ MB

### Dropping unecessary non-affecting features.

In [6]:
df.drop(['listing_url','scrape_id','source','host_url','host_thumbnail_url','host_picture_url','picture_url','host_verifications','calendar_updated','calendar_last_scraped','neighbourhood_group_cleansed','neighborhood_overview','host_name','host_id','description','host_about','neighbourhood','host_location','host_neighbourhood'],inplace=True,axis=1)

### We only keep name and id for identifying the place, locations will be easily found by mapping them using Coordinates.

In [7]:
df.isnull().sum()

id                                                0
last_scraped                                      0
name                                              0
host_since                                        2
host_response_time                              851
host_response_rate                              851
host_acceptance_rate                            393
host_is_superhost                                59
host_listings_count                               2
host_total_listings_count                         2
host_has_profile_pic                              2
host_identity_verified                            2
neighbourhood_cleansed                            0
latitude                                          0
longitude                                         0
property_type                                     0
room_type                                         0
accommodates                                      0
bathrooms                                         0
bathrooms_text                                    6
bedrooms                                          9
beds                                              3
amenities                                         0
price                                             0
minimum_nights                                    0
maximum_nights                                    0
minimum_minimum_nights                            4
maximum_minimum_nights                            4
minimum_maximum_nights                            4
maximum_maximum_nights                            4
minimum_nights_avg_ntm                            0
maximum_nights_avg_ntm                            0
has_availability                                128
availability_30                                   0
availability_60                                   0
availability_90                                   0
availability_365                                  0
number_of_reviews                                 0
number_of_reviews_ltm                             0
number_of_reviews_l30d                            0
availability_eoy                                  0
number_of_reviews_ly                              0
estimated_occupancy_l365d                         0
estimated_revenue_l365d                           0
first_review                                    656
last_review                                     656
review_scores_rating                            656
review_scores_accuracy                          656
review_scores_cleanliness                       656
review_scores_checkin                           656
review_scores_communication                     656
review_scores_location                          656
review_scores_value                             656
license                                          75
instant_bookable                                  0
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               656
dtype: int64

### Add another column 'has_reviews' to infer if the said Airbnb has been reviewed and to deal with NaN values.

In [8]:
df['has_reviews']=df['review_scores_rating'].notna().astype('int64')
review_cols=[
    'review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
    'review_scores_checkin','review_scores_communication','review_scores_location',
    'review_scores_value','reviews_per_month'
]
df[review_cols]=df[review_cols].fillna(0)

In [9]:
df.isnull().sum()

id                                                0
last_scraped                                      0
name                                              0
host_since                                        2
host_response_time                              851
                                               ...
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                 0
has_reviews                                       0
Length: 61, dtype: int64

### Dealing with the left over 'first_review' and 'last_review' and engineer features for the same, then drop them.

In [10]:
df['first_review_missing']=df['first_review'].isna().astype(int) ##missing indicators / flags
df['last_review_missing']=df['last_review'].isna().astype(int)

In [11]:
df['first_review']=pd.to_datetime(df['first_review'])
df['last_review']=pd.to_datetime(df['last_review'])

In [12]:
min_date=df['first_review'].min()
df['first_review'] = df['first_review'].fillna(min_date)
df['last_review'] = df['last_review'].fillna(min_date)

In [13]:
df['days_since_first_review']=(pd.Timestamp.today()-df['first_review']).dt.days
df['days_since_last_review']=(pd.Timestamp.today()-df['last_review']).dt.days

In [14]:
df=df.drop(columns=['first_review','last_review'])

### Dealing with missing host response and acceptance rates and time.

In [15]:
df['host_response_time'].replace(np.nan,"unknown",inplace=True)
df['host_response_time'].head()

0        within an hour
1        within an hour
2        within an hour
5    within a few hours
6        within an hour
Name: host_response_time, dtype: object

In [16]:
df['host_response_rate']=df['host_response_rate'].str.replace('%','',regex=False)
df['host_response_rate']=pd.to_numeric(df['host_response_rate'],errors='coerce')
med1=df['host_response_rate'].median()
df['host_response_rate'].replace(np.nan,med1,inplace=True)

In [17]:
df['host_acceptance_rate']=df['host_acceptance_rate'].str.replace('%','',regex=False)
df['host_acceptance_rate']=pd.to_numeric(df['host_acceptance_rate'],errors='coerce')
med2=df['host_acceptance_rate'].median()
df['host_acceptance_rate'].replace(np.nan,med2,inplace=True)

### Another feature host is superhost

In [18]:
df['superhost_missing']=df['host_is_superhost'].isna().astype(int)
df['host_is_superhost'].replace(np.nan,'unknown',inplace=True)
df['host_is_superhost']=df['host_is_superhost'].map({'t':1,'f':0,'unknown':-1})

### Similar to this is has availability

In [19]:
df['availability_missing']=df['has_availability'].isna().astype(int)
df['has_availability'].replace(np.nan,'unknown',inplace=True)
df['has_availability']=df['has_availability'].map({'t':1,'f':0,'unknown':-1})

### Also dealing with license, creating a marker and dropping the original column.

In [20]:
df['has_license']=df['license'].isna().astype(int)
df=df.drop(columns=['license'])

### Now with host profile pic and identity verified as well as listings count and total listings count there are only about 2 NaN entries so we drop them as they won't make much of a difference, along with them we drop rows with similar conditions for a few features.

In [21]:
df=df.dropna(subset=['host_has_profile_pic','minimum_minimum_nights','bedrooms','bathrooms_text','beds'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5850 entries, 0 to 10479
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5850 non-null   int64
 1   last_scraped                                  5850 non-null   object
 2   name                                          5850 non-null   object
 3   host_since                                    5850 non-null   object
 4   host_response_time                            5850 non-null   object
 5   host_response_rate                            5850 non-null   float64
 6   host_acceptance_rate                          5850 non-null   float64
 7   host_is_superhost                             5850 non-null   int64
 8   host_listings_count                           5850 non-null   float64
 9   host_total_listings_count                     5850 non-null   float64
 10  host_has_profile_pic                          5850 non-null   object
 11  host_identity_verified                        5850 non-null   object
 12  neighbourhood_cleansed                        5850 non-null   object
 13  latitude                                      5850 non-null   float64
 14  longitude                                     5850 non-null   float64
 15  property_type                                 5850 non-null   object
 16  room_type                                     5850 non-null   object
 17  accommodates                                  5850 non-null   int64
 18  bathrooms                                     5850 non-null   float64
 19  bathrooms_text                                5850 non-null   object
 20  bedrooms                                      5850 non-null   float64
 21  beds                                          5850 non-null   float64
 22  amenities                                     5850 non-null   object
 23  price                                         5850 non-null   float64
 24  minimum_nights                                5850 non-null   int64
 25  maximum_nights                                5850 non-null   int64
 26  minimum_minimum_nights                        5850 non-null   float64
 27  maximum_minimum_nights                        5850 non-null   float64
 28  minimum_maximum_nights                        5850 non-null   float64
 29  maximum_maximum_nights                        5850 non-null   float64
 30  minimum_nights_avg_ntm                        5850 non-null   float64
 31  maximum_nights_avg_ntm                        5850 non-null   float64
 32  has_availability                              5850 non-null   int64
 33  availability_30                               5850 non-null   int64
 34  availability_60                               5850 non-null   int64
 35  availability_90                               5850 non-null   int64
 36  availability_365                              5850 non-null   int64
 37  number_of_reviews                             5850 non-null   int64
 38  number_of_reviews_ltm                         5850 non-null   int64
 39  number_of_reviews_l30d                        5850 non-null   int64
 40  availability_eoy                              5850 non-null   int64
 41  number_of_reviews_ly                          5850 non-null   int64
 42  estimated_occupancy_l365d                     5850 non-null   int64
 43  estimated_revenue_l365d                       5850 non-null   float64
 44  review_scores_rating                          5850 non-null   float64
 45  review_scores_accuracy                        5850 non-null   float64
 46  review_scores_cleanliness                     5850 non-null   float64
 47  review_scores_checkin                         5850 non-null   float64
 48  review_scores_communication                   5850 non-null   float64
 49  review_scores_location                        5850 non-null   float64
 50  review_scores_value                           5850 non-null   float64
 51  instant_bookable                              5850 non-null   object
 52  calculated_host_listings_count                5850 non-null   int64
 53  calculated_host_listings_count_entire_homes   5850 non-null   int64
 54  calculated_host_listings_count_private_rooms  5850 non-null   int64
 55  calculated_host_listings_count_shared_rooms   5850 non-null   int64
 56  reviews_per_month                             5850 non-null   float64
 57  has_reviews                                   5850 non-null   int64
 58  first_review_missing                          5850 non-null   int64
 59  last_review_missing                           5850 non-null   int64
 60  days_since_first_review                       5850 non-null   int64
 61  days_since_last_review                        5850 non-null   int64
 62  superhost_missing                             5850 non-null   int64
 63  availability_missing                          5850 non-null   int64
 64  has_license                                   5850 non-null   int64
dtypes: float64(25), int64(28), object(12)
memory usage: 2.9+ MB

### The below helping function is to check and display the sum of missing values of every feature that has them.

In [23]:
missing_df = (
    df.isnull().sum()
      .reset_index()
      .rename(columns={"index": "Feature", 0: "Missing"})
)

missing_df = missing_df[missing_df["Missing"] > 0].sort_values("Missing", ascending=False)
missing_df

Empty DataFrame
Columns: [Feature, Missing]
Index: []

In [24]:
df.to_csv('amster_data1.csv',index=False)

### Now only mapping values, converting object dtypes to numeric and one-hot encoding of a few features is left that will be completed in mlpreprocessing.

# END